.node-wrap {
    height: 100%;
}
.node-content {
    position: relative;
}
.node-image {
    height: 100%;
    margin: auto;
}
.node-image img {
    max-height: 100%;
    height: auto;
}
.node-top {
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
}
.loading {
    border: 8px solid #444444;
    border-radius: 50%;
    border-top: 8px solid #999999;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}