<agm-map [latitude]="lat" [longitude]="lng" [fitBounds]="latlngBounds" [style.height.px]="height">
    <agm-marker-cluster [imagePath]="'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'">
        <agm-marker *ngFor="let m of nodes" [latitude]="m.latitude" [longitude]="m.longitude" (markerClick)="open(m.id)"> </agm-marker>
    </agm-marker-cluster>
</agm-map>

<app-node *ngIf="showNodeDetails" [nodeId]="nodeId"></app-node>
<button *ngIf="showNodeDetails" type="button" class="close" (click)="close()">
    <span class="glyphicon glyphicon-remove text-white"></span>
</button>