<ng-progress [showSpinner]="false" [thick]="true"></ng-progress>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <nav id="nav-top">
      <ul class="nav flex-column nav-pills">
        <li class="nav-link">
            <a [routerLink]="['']"  [routerLinkActive]="'is-active'" [routerLinkActiveOptions]="{exact: true}">
                <i class="glyphicon glyphicon-home"></i>Home
            </a>
        </li>
        <li class="nav-link" *ngIf="hasAuthToken()">
            <a [routerLink]="['map']" [routerLinkActive]="'is-active'" [routerLinkActiveOptions]="{exact: true}">
                <i class="glyphicon glyphicon-globe"></i>My map
            </a>
        </li>
        <li class="nav-link" *ngIf="hasAuthToken()">
          <a [routerLink]="['/user', getConnectedUsername()]" [routerLinkActive]="'is-active'" [routerLinkActiveOptions]="{exact: true}">
              <i class="glyphicon glyphicon-user"></i>{{getConnectedUsername()}}
          </a>
        </li>
        <li class="nav-link" *ngIf="hasAuthToken()">
            <a (click)="logout()" [routerLinkActive]="'is-active'" href="#" [routerLinkActiveOptions]="{exact: true}">
                <i class="glyphicon glyphicon-log-out"></i>Logout
            </a>
        </li>
      </ul>
      <ul id="nav-bottom" class="nav flex-column nav-pills">
      </ul>
    </nav>
  </mat-sidenav>

  <div class="content">
      <button type="button" class="btn btn-default btn-lg" mat-button (click)="sidenav.open()" id="menu-button">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
