<ng-progress></ng-progress>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <nav id="nav-top">
      <ul class="nav flex-column nav-pills">
        <li class="nav-link"><a [routerLink]="['']">Home</a></li>
        <li class="nav-link"><a [routerLink]="['map']">My map</a></li>
      </ul>
      <ul id="nav-bottom" class="nav flex-column nav-pills">
        <li class="nav-link" *ngIf="!hasAuthToken()"><a [routerLink]="['login']">Login</a></li>
        <li class="nav-link" *ngIf="!hasAuthToken()"><a [routerLink]="['registration']" href="#">Registration</a></li>
        <li class="nav-link" *ngIf="hasAuthToken()"><a (click)="logout()" href="#">Logout</a></li>
      </ul>
    </nav>
  </mat-sidenav>

  <div class="content">
      <button type="button" class="btn btn-default btn-lg" mat-button (click)="sidenav.open()" id="menu-button">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
