<!-- user/user.component.html -->
<div class="cover">
    <img class="img-responsive" src="{{user.coverPic}}" align="middle" alt="">
</div>

<div class="container profile-content">
    <div class="highlighted row">
        <div class="profile-pic col-md-3">
            <img class="img-responsive" src="{{user.profilePic}}" alt="">
        </div>
        <div class="left-highlighted col-md-9">
            <div class="about-me">
                <h1 class="">{{user.firstName}} {{user.lastName}}</h1>
                <p class="lead">
                    {{user.aboutMe}}
                </p>
            </div>
            <div class="links">
                <a href="#" [routerLink]="['/map', user.username]"><i class="glyphicon glyphicon-map-marker"></i> Map</a>
                <a (click)="abortFollow()" *ngIf="!isMe() && following()"><i class="glyphicon glyphicon-ok"></i> Following</a>
                <a (click)="follow()" *ngIf="!isMe() && canFollow()"><i class="glyphicon glyphicon-plus"></i> Follow</a>
            </div>
        </div>
    </div>


    <div class="row mt-5 mb-5">
        <div class="col-md-4">
            <div *ngIf="iFollow.length != 0" class="mt-5 mb-5 block row">
                <h2 class="col-md-12">{{iFollow.length}} following</h2>
                <div class="col-md-3 mb-5" *ngFor="let follower of iFollow">
                    <a class="followers" [routerLink]="['/user', follower.username]" matTooltip="{{follower.username}}">
                        <img src="{{follower.profile_pic}}" alt="">
                    </a>
                </div>
            </div>
            <div *ngIf="followsMe.length != 0" class="mt-5 mb-5 block row">
                <h2 class="col-md-12">{{followsMe.length}} followers</h2>
                <div class="col-md-3 mb-5" *ngFor="let follower of followsMe" >
                    <a class="followers" [routerLink]="['/user', follower.username]" matTooltip="{{follower.username}}">
                        <img src="{{follower.profile_pic}}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
