<!-- user/user.component.html -->
<div class="cover">
    <img class="img-responsive" src="{{user.coverPic}}" align="middle" alt="">
</div>

<div class="container profile-content">
    <div class="highlighted row">
        <div class="profile-pic col-md-3">
            <img class="img-responsive" src="{{user.profilePic}}" alt="">
        </div>
        <div class="left-highlighted col-md-9">
            <div class="about-me">
                <h1 class="">{{user.firstName}} {{user.lastName}}</h1>
                <p class="lead">
                    {{user.aboutMe}}
                </p>
            </div>
            <div class="links">
                <a href="#" [routerLink]="['/map', user.username]"><i class="glyphicon glyphicon-map-marker"></i> Map</a>
                <a (click)="abortFollow()" *ngIf="!isMe() && following()"><i class="glyphicon glyphicon-ok"></i> Following</a>
                <a (click)="follow()" *ngIf="!isMe() && canFollow()"><i class="glyphicon glyphicon-plus"></i> Follow</a>
            </div>
        </div>
    </div>


    <div class="row mt-5 mb-5 block">

        <div *ngIf="user.follows" class="col-md-6">
            <h2>{{user.follows.length}} following</h2>
            <a class="followers mr-3"  *ngFor="let follower of user.follows" [routerLink]="['/user', follower.username]" matTooltip="{{follower.username}}">
                <img src="{{follower.profile_pic}}" alt="">
            </a>
        </div>
        <div *ngIf="user.followed_by" class="col-md-6">
            <h2>{{user.followed_by.length}} followers</h2>
            <a class="followers mr-3" *ngFor="let follower of user.followed_by" [routerLink]="['/user', follower.username]" matTooltip="{{follower.username}}">
                <img src="{{follower.profile_pic}}" alt="">
            </a>
        </div>
    </div>

</div>
